<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-item">
            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link">
                <i class="fas fa-users"></i>
                <p>User Manager</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Article" asp-action="AllArticles" class="nav-link">
                <i class="fas fa-newspaper"></i>
                <p>Article Manager</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Comment" asp-action="AllReportedComment" class="nav-link">
                <i class="fas fa-comments"></i>
                <p>Comment Manager</p>
            </a>
        </li>
    </ul>
</nav>