<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-item">
            <a asp-area="Admin" asp-controller="User" asp-action="GetAllUsers" class="nav-link">
                <i class="fas fa-users"></i>
                <p>User Manager</p>
            </a>
        </li>
    </ul>
</nav>