html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

textarea {
    resize: none;
}

#CreateArticleForm {
    margin: auto;
}

#CreateCategoryForm {
    margin: auto;
}

#LoginAndRegisterForm {
    margin: auto;
}

#commentText {
    overflow-wrap: break-word;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}