@model IList<AllArticlesServiceModel>

<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-newspaper"></i> All Articles</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Article title
                            </th>
                            <th style="width: 30%" class="text-center">
                                Date of creation
                            </th>
                            <th style="width: 8%" class="text-center">
                                Author
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < @Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    @(i + 1)
                                </td>
                                <partial name="_ArticleGrid" model="@Model[i]" />
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- /.control-sidebar -->
<!-- ./wrapper -->