@model AllArticlesServiceModel

<div class="col-md-12 col-lg-6 col-xl-4">
    <div class="card mb-2 bg-gradient-dark">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Dist Photo 1">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
            <a asp-area="" asp-controller="Article" asp-action="DetailsOfArticle" asp-route-id="@Model.Id">
                <h5 class="card-title text-primary text-white">@Model.Title</h5>
            </a>
            <p class="card-text text-white"><i class="fas fa-calendar-alt"></i> @Model.DateOfCreation.ToString("dd.MM.yyyy")</p>
        </div>
    </div>
</div>
