@model AllArticlesViewModel

<div class="col-md-12 col-lg-6 col-xl-4">
    <div class="card mb-2">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Dist Photo 3">
        <div class="card-img-overlay">
            <h5 class="card-title text-primary">@Model.Title</h5>
            <p class="card-text pb-1 pt-1 text-white">
                <br />
                @Model.Content
            </p>
            <a href="#" class="text-white">Creation date: @Model.DateOfCreation</a>
        </div>
    </div>
</div>