@model ArticleAndCommentsViewModel

<div class="col-md-6" style="margin: auto">
    <!-- /.card-header -->
    <partial name="_ArticleImage" model="@Model.DetailsOfArticlesServiceModel" />
    <!-- /.card-body -->
    <div class="card-footer card-comments">

        @foreach (var comment in Model.DetailsOfArticlesServiceModel.Comments)
        {
            <partial name="_CommentPartial" model="comment" />
        }

        <!-- /.card-comment -->
    </div>
    <!-- /.card-footer -->
    <div class="card-footer">
        <hr />
        <label class="form-label  text-muted">Comment:</label>
        <form asp-area="" asp-controller="Comment" asp-action="CreateComment" method="post">
            <div class="img-push">
                <input asp-for="CreateCommentViewModel.ArticleId" type="hidden" value="@Model.DetailsOfArticlesServiceModel.Id" />
                <input asp-for="CreateCommentViewModel.CurrentController" type="hidden" value="Article">
                <input asp-for="CreateCommentViewModel.CurrentAction" type="hidden" value="DetailsOfArticle">
                <input asp-for="CreateCommentViewModel.Text" type="text" class="form-control form-control-sm" placeholder="Press enter to article comment">
                <span asp-validation-for="CreateCommentViewModel.Text" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <br />
            <button class="btn btn-dark float-right" type="submit">Send</button>
        </form>
    </div>
</div>
@section scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<partial name="_ValidationScriptsPartial" />
}