@model IEnumerable<AllArticlesServiceModel>

<section class="content">
    <div class="container-fluid">
        <div class="card card-success">
            <div class="card-body">
                <div class="row">
                    @foreach (var article in Model)
                    {
                        <partial name="_ArticlePartial" model="@article" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
}